@{
    ViewData["Title"] = "Calculator";
}
<div style="display: flex; flex-direction: row">
    <p style="margin: 1em">Use the page below to calculate your estimated possible renovation grant</p>
    <a class="btn btn-primary text-center" role="button" style="margin: 1em" asp-controller="Login" asp-action="ProcessLogin">Back to user page</a>
</div>
<div class="container" style="width: 75%; height: 75%; position: absolute; border: 2px solid; box-shadow: 7px 7px 7px 7px #696969">
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <iframe src="https://sparenergi.dk/forbruger/vaerktoejer/tilskudsberegner" style="width: 100%; height: 100%"></iframe>
    <br />
</div>




