<div class="text-center">
    <h1>Your meeting has been registered with the advisors!</h1>
    <a class="btn btn-primary text-center" role="button" style="margin: 1em" asp-area="" asp-controller="Home" asp-action="Index">Back to the Welcome page</a>
</div>