<div class="text-center">
    <h1>Your reading has been registered!</h1>
    <a class="btn btn-primary text-center" role="button" style="margin: 1em" asp-controller="Login" asp-action="ProcessLogin">Back to user's page</a>

</div>

